// found on uigradients.com
.endless-river {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, rgba(67, 207, 162, 1) , rgba(24, 90, 157, 1)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, rgba(67, 207, 162, 1) , rgba(24, 90, 157, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.endless-river-modal {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, rgba(67, 207, 162, 0.93) , rgba(24, 90, 157, 0.93)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, rgba(67, 207, 162, 0.93) , rgba(24, 90, 157, 0.93)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
