// transition used on most items throughout the app
.cubic-bezier {
	-webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}
.cubic-bezier-color {
	-webkit-transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1);
}
// simple fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

// simple fade
.todo-enter-active, .todo-leave-active {
  transition: all .5s;
}
.todo-enter, .todo-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  @include transform(translateX(100%));
}
